openapi: 3.0.0
info:
  title: APIs Open Data do Open Insurance Brasil
  description:
    API de informações de Títulos de Capitalização. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.3.0 do manual de escopo de dados.
  version: 1.0.0
  contact:
    url: 'https://openinsurance.susep.gov.br'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Produção
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Homologação
tags:
  - name: "price-linked-bonds"
paths:
  /prize-linked-bonds:
    get:
      tags:
        - price-linked-bonds
      summary: Obtém dados dos títulos de capitalização
      description: Obtém dados dos títulos de capitalização
      operationId: getPrizeLinkedBonds
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados sobre títulos de capitalização obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePrizeLinkedBonds'
components:
  schemas:
    ResponsePrizeLinkedBonds:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/PrizeLinkedBondBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    PrizeLinkedBondBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          maxLength: 80
          pattern: \w*\W*
          description: 'Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes'
          example: Organização A
        companies:
          type: array
          description: 'Companies traz uma lista de todas as instituições da Marca'
          items:
            $ref: '#/components/schemas/PrizeLinkedBondCompany'
          minItems: 1
    PrizeLinkedBondCompany:
      type: object
      required:
        - name
        - cnpjNumber
        - prizeLinkedBonds
      allOf:
        - $ref: '#/components/schemas/Company'
      properties:
        prizeLinkedBonds:
          type: array
          items:
            $ref: '#/components/schemas/PrizeLinkedBond'
          description: Lista de produtos de título de capitalização
          minItems: 1
          maxItems: 3
    PrizeLinkedBond:
      type: object
      required:
        - name
        - code
        - modality
        - defrayal
        - lifetimeMonths
        - shares
        - interestRate
        - amount
        - correctionIndex
        - prizeDraw
        - prizeWithdraw
        - latePayment
        - additionals
        - premiumPayments
        - minimumRequirements
        - termsConditions
      properties:
        name:
          type: string
          maxLength: 250
          pattern: \w*\W*
          description: 'Nome fantasia do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade (Campo Livre)'
          example: Minha Capitalização
        code:
          type: string
          maxLength: 100
          description: 'Código único a ser definido pela sociedade (Campo Livre)'
          example: MINHA_CAPITAZALICAO
        modality:
          type: string
          enum:
            - TRADICIONAL
            - INSTRUMENTO_DE_GARANTIA
            - COMPRA_PROGRAMADA
            - POPULAR
            - INCENTIVO
            - FILANTROPIA_PREMIÁVEL
          description: 'Modalidade'
          example: TRADICIONAL
        defrayal:
          type: string
          enum:
            - PAGAMENTO_UNICO
            - PAGAMENTO_MENSAL
            - PAGAMENTO_PERIODICO
          description: 'Forma de custeio'
          example: PAGAMENTO_UNICO
        lifetimeMonths:
          type: integer
          description: Prazo em meses de vigência
          example: 12
        shares:
          $ref: '#/components/schemas/PrizeLinkedBondsShares'
        interestRate:
          type: number
          format: double
          description: 'Taxa de juros que remunera a provisão matemática para capitalização.'
          example: 6.82
        amount:
          type: string
          pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
          maxLength: 12
          x-cds-type: AmountString
          description: 'Valor de contribuição. Na modalidade Tradicional, informar a faixa de valor mínimo e máximo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.'
          example: '89.90'
        correctionIndex:
          type: string
          enum:
            - IPCA
            - IGP_M
            - INPC
            - TR
          description: 'Índice utilizado na correção que remunera a provisão matemática para capitalização'
          example: IPCA
        prizeDraw:
          $ref: '#/components/schemas/PrizeLinkedBondsPrizeDraw'
        prizeWithdraw:
          $ref: '#/components/schemas/PrizeLinkedBondsPrizeWithdraw'
        latePayment:
          $ref: '#/components/schemas/PrizeLinkedBondsLatePayment'
        additionals:
          $ref: '#/components/schemas/PrizeLinkedBondsAdditionals'
        premiumPayments:
          $ref: '#/components/schemas/PrizeLinkedBondsPremiumPayments'
        minimumRequirements:
          $ref: '#/components/schemas/PrizeLinkedBondsMinimumRequirements'
        targetAudience:
          type: array
          description: 'Lista de público-alvo'
          items:
            $ref: '#/components/schemas/TargetAudience'
          minItems: 1
          maxItems: 2
        termsConditions:
          $ref: '#/components/schemas/PrizeLinkedBondsTermsConditions'
    PrizeLinkedBondsPrizeDraw:
      type: object
      description: Objeto que reúne informações relativas a Sorteios
      required:
        - quantityInfo
        - frequencyInfo
        - valuesInfo
        - probabilitiesInfo
      properties:
        quantityInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Informação sobre a quantidade de sorteios. Pode ser informada a URL referente ao endereço onde constam informações.'
          example: 'https://example.com/prize-linked-bond'
        frequencyInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Informação sobre a periodicidade de sorteios. Pode ser informada a URL referente ao endereço onde constam informações.'
          example: 'https://example.com/prize-linked-bond'
        valuesInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Informação sobre os valores dos sorteios. Pode ser informada a URL referente ao endereço onde constam informações.'
          example: 'https://example.com/prize-linked-bond'
        probabilitiesInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Informação sobre a probabilidade mínima de contemplação nos sorteios. Pode ser informada a URL referente ao endereço onde constam informações.'
          example: 'https://example.com/prize-linked-bond'
        hasEarlySettlement:
          type: boolean
          description: 'Liquidação antecipada em Sorteio.'
          example: true
        hasMandatoryContemplation:
          type: boolean
          description: 'Contemplação obrigatória.'
          example: false
    PrizeLinkedBondsPrizeWithdraw:
      type: object
      description: Objeto que reúne informações relativas a Resgates
      required:
        - percentage
        - gracePeriod
        - lifetimeEndPercentage
      properties:
        percentage:
          type: number
          format: double
          description: 'Valor percentual de resgate permitido.'
          example: 25.0
        gracePeriod:
          type: integer
          description: 'Prazo de carência para resgate em dias.'
          example: 30
        lifetimeEndPercentage:
          type: number
          format: double
          description: 'Percentual mínimo da soma das contribuições efetuadas que poderá ser resgatado ao final da vigência'
          example: 100.0
    PrizeLinkedBondsShares:
      type: object
      description: Objeto que reúne informações relativas a Quotas da capitalização
      required:
        - amount
        - prizeDraw
        - administrationTaxes
      properties:
        amount:
          type: string
          pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
          maxLength: 12
          x-cds-type: AmountString
          description: Valor ou percentual do valor arrecadado destinado à entidade beneficente (modalidade Filantropia Premiável) ou destinado a formar o montante capitalizado (demais modalidades).
          example: '2000.00'
        prizeDraw:
          type: string
          pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
          maxLength: 12
          x-cds-type: AmountString
          description: Valor ou percentual do valor arrecadado destinado a custear os sorteios previstos no plano.
          example: '40000.00'
        administrationTaxes:
          type: number
          format: double
          description: 'Percentual do valor arrecadado destinado a cobrir as despesas gerais com a colocação e administração do plano'
          example: 0.6865
    PrizeLinkedBondsLatePayment:
      type: object
      description: Objeto que reúne informações relativas a Atrasos de Pagamentos
      required:
        - interest
        - suspentionDays
        - taxes
      properties:
        interest:
          type: string
          pattern: '(^[0-9](\.[0-9]{2})|NA)$'
          description: 'Juros de mora em caso de atraso no pagamento do resgate ou sorteio.'
          example: '2.30'
        suspentionDays:
          type: integer
          description: 'Prazo máximo em dias que o título fica suspenso por atraso de pagamento, antes de ser cancelado.'
          example: 90
        hasLifetimeExtension:
          type: boolean
          description: 'Alteração do prazo de vigência original, pela suspensão'
          example: true
    PrizeLinkedBondsAdditionals:
      type: array
      items:
        $ref: "#/components/schemas/ProductAdditional"
      description: Lista de adicionais para título de capitalização
    PrizeLinkedBondsPremiumPayments:
      type: array
      items:
        $ref: "#/components/schemas/Payment"
      minItems: 1
      maxItems: 2
      description: Lista opções de pagamento de prêmios para produtos e serviços
    PrizeLinkedBondsMinimumRequirements:
      type: object
      description: Objeto que reúne informações relativas a Requisitos Mínimos para as contratações
      properties:
        minimumRequirementsInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Requisitos mínimos. Possibilidade de inscrição da URL. Endereço eletrônico de acesso ao canal. p.ex. ''https://example.com/mobile-insurance'' '
          example: 'https://example.com/prize-linked-bond'
    PrizeLinkedBondsTermsConditions:
      type: object
      description: Objeto que reúne informações relativas a Termos e Condições para as contratações
      required:
        - susepNumber
      properties:
        susepNumber:
          pattern: '^(\d{14})$|^NA$'
          description: 'Processo Susep'
          maxLength: 14
          example: "50685362000135"
          type: string
        termsAndConditionsInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Termos e condições contratuais. Possibilidade de inscrição da URL. Endereço eletrônico de acesso ao canal. p.ex. ''https://example.com/mobile-insurance'' '
          example: 'https://example.com/prize-linked-bond'
    TargetAudience:
      type: string
      description: 'Público alvo de determinados produtos e serviços'
      enum:
        - PESSOA_NATURAL
        - PESSOA_JURIDICA
      example: 'PESSOA_NATURAL'
    ProductAdditional:
      type: object
      description: 'Adicionais de produtos'
      required:
        - name
        - code
      properties:
        name:
          type: string
          maxLength: 250
          pattern: \w*\W*
          description: 'Nome fantasia do adicional, pelo qual é identificado nos canais de distribuição e atendimento da sociedade (Campo Livre)'
          example: Sorteio
        code:
          type: string
          maxLength: 100
          description: 'Código único a ser definido pela sociedade (Campo Livre)'
          example: SORTEIO
        description:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Descrição do adicional. Pode ser informada a URL referente ao endereço onde constam as informações cabíveis.'
          example: 'https://example.com/mobile-insurance'
    Payment:
      type: object
      required:
        - type
        - methods
        - frequency
      properties:
        type:
          $ref: '#/components/schemas/PaymentTypes'
        methods:
          type: array
          description: 'Lista de meios de pagamentos disponíveis para o tipo'
          items:
            $ref: '#/components/schemas/PaymentMethods'
          minItems: 1
        frequency:
          type: array
          description: 'Lista de periodicidade de pagamentos disponíveis para o tipo'
          items:
            $ref: '#/components/schemas/PaymentFrequency'
    PaymentMethods:
      type: string
      description: |
        Meios de pagamentos dispíveis.
      enum:
        - CARTAO_DE_CREDITO
        - DEBITO_EM_CONTA
        - BOLETO_BANCARIO
        - PIX
      example: 'PIX'
    PaymentTypes:
      type: string
      description: |
        Formas de pagamentos dispíveis.
      enum:
        - A_VISTA
        - PARCELADO
      example: 'A_VISTA'
    PaymentFrequency:
      type: string
      description: |
        Periodicidade de pagamentos dispíveis.
      enum:
        - DIARIO
        - MENESAL
        - ÚNICO
        - ANUAL
        - TRIMESTRAL
        - SEMESTRAL
        - FRACIONADO
      example: 'MENESAL'
    CNPJ:
      type: object
      required:
        - cnpjNumber
      properties:
        cnpjNumber:
          type: string
          pattern: '^(\d{14})$|^NA$'
          description: CNPJ
          maxLength: 14
          example: "50685362000135"
    Company:
      type: object
      required:
        - name
        - cnpjNumber
      allOf:
        - $ref: '#/components/schemas/CNPJ'
      properties:
        name:
          type: string
          description: Nome da Instituição, pertencente à marca. p.ex.'Empresa da Organização A'
          maxLength: 80
          pattern: \w*\W*
          example: 'Empresa A1'
        urlComplementaryList:
          type: string
          pattern: \w*\W*
          maxLength: 1024
          description: |
            URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada.
            Restrição: Será obrigatorimente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
          example: 'https://empresadaorganizacaoa.com/complementarylist'
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.sociedade.com.br/open-insurance/products-services/v1/<resource>'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.sociedade.com.br/open-insurance/products-services/v1/<resource>'
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.sociedade.com.br/open-insurance/products-services/v1/<resource>'
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 1
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
  parameters:
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
