openapi: 3.0.3
info:
  title: API - Produtos e serviços
  description: As APIs descritas neste documento são referentes as APIs da fase Open Data do Open Insurance Brasil.
  version: 1.0.0
  contact:
    url: 'https://openinsurance.susep.gov.br'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Produção
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Homologação
tags:
  - name: "API - Produtos e Serviços"
paths:
  /life-pension:
    get:
      tags:
        - "API - Produtos e Serviços"
      summary: "Vida e Previdência"
      description: Obtém a lista dos produtos do tipo vida e previdência.
      operationId: getLifePension
      parameters:
        - $ref: '#/components/parameters/cache-Control'
        - $ref: '#/components/parameters/content-Security-Policy'
        - $ref: '#/components/parameters/content-Type'
        - $ref: '#/components/parameters/strict-Transport-Security'
        - $ref: '#/components/parameters/x-Content-Type-Options'
        - $ref: '#/components/parameters/x-Frame-Options'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados dos produtos de Vida e Previdência
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLifePensionList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos produtos de Vida e Previdência
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLifePensionList'
  /person:
    get:
      tags:
        - "API - Produtos e Serviços"
      summary: "Seguro de Pessoas"
      description: Obtém a lista dos produtos do tipo seguro de pessoas.
      operationId: getPerson
      parameters:
        - $ref: '#/components/parameters/cache-Control'
        - $ref: '#/components/parameters/content-Security-Policy'
        - $ref: '#/components/parameters/content-Type'
        - $ref: '#/components/parameters/strict-Transport-Security'
        - $ref: '#/components/parameters/x-Content-Type-Options'
        - $ref: '#/components/parameters/x-Frame-Options'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados dos Plano de Seguro de Pessoas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos Plano de Seguro de Pessoas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonList'
  /capitalization-title:
    get:
      tags:
        - "API - Produtos e Serviços"
      summary: "Títulos de Capitalização"
      description: Obtém a lista dos produtos do tipo título de capitalização
      operationId: capitalizationTitle
      parameters:
        - $ref: '#/components/parameters/cache-Control'
        - $ref: '#/components/parameters/content-Security-Policy'
        - $ref: '#/components/parameters/content-Type'
        - $ref: '#/components/parameters/strict-Transport-Security'
        - $ref: '#/components/parameters/x-Content-Type-Options'
        - $ref: '#/components/parameters/x-Frame-Options'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados dos produtos de Título de Capitalização
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCapitalizationTitleList'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos produtos de Título de Capitalização
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCapitalizationTitleList'
  '/home-insurance/commercializationArea/{commercializationArea}':
    get:
      tags:
        - "API - Produtos e Serviços"
      summary: "Seguros Residenciais"
      description: Obtém informações de seguros redidenciais
      operationId: getResidentialInsurance
      parameters:
        - $ref: '#/components/parameters/cache-Control'
        - $ref: '#/components/parameters/content-Security-Policy'
        - $ref: '#/components/parameters/content-Type'
        - $ref: '#/components/parameters/strict-Transport-Security'
        - $ref: '#/components/parameters/x-Content-Type-Options'
        - $ref: '#/components/parameters/x-Frame-Options'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/commercializationArea'
      responses:
        '200':
          description: Dados dos Seguros Residenciais
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseHomeInsuranceList'
        '400':
          $ref: '#/components/responses/BadRequest2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos Seguros Residenciais
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseHomeInsuranceList'
  '/auto-insurance/{commercializationArea}/{fipeCode}/{year}':
    get:
      tags:
        - "API - Produtos e Serviços"
      summary: "Seguros de Automóveis"
      description: Obtém informações de seguros de automóveis
      operationId: getAutoInsurance
      parameters:
        - $ref: '#/components/parameters/cache-Control'
        - $ref: '#/components/parameters/content-Security-Policy'
        - $ref: '#/components/parameters/content-Type'
        - $ref: '#/components/parameters/strict-Transport-Security'
        - $ref: '#/components/parameters/x-Content-Type-Options'
        - $ref: '#/components/parameters/x-Frame-Options'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/commercializationArea1'
        - $ref: '#/components/parameters/fipeCode'
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Dados dos Seguros de Automóveis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAutoInsuranceList'
        '400':
          $ref: '#/components/responses/BadRequest3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden2'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError1'
        default:
          description: Dados dos Seguros de Automóveis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAutoInsuranceList'
  /pension-plan:
    get:
      tags:
        - "API - Produtos e Serviços"
      summary: "Planos de Previdência com Cobertura de Risco"
      description: Obtém informações de plano de previdência com cobertura de risco
      operationId: getPensionPlan
      parameters:
        - $ref: '#/components/parameters/cache-Control'
        - $ref: '#/components/parameters/content-Security-Policy'
        - $ref: '#/components/parameters/content-Type'
        - $ref: '#/components/parameters/strict-Transport-Security'
        - $ref: '#/components/parameters/x-Content-Type-Options'
        - $ref: '#/components/parameters/x-Frame-Options'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados dos Plano de Previdência com cobertura de risco
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePensionPlanList'
        '201':
          $ref: '#/components/responses/Created'
        '204':
          $ref: '#/components/responses/NoContent'
        '304':
          $ref: '#/components/responses/NotModified'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden3'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed1'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '410':
          $ref: '#/components/responses/Gone'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError2'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePensionPlanList'
components:
  schemas:
    ResponseLifePensionList:
      type: array
      items:
        type: object
        required:
          - identification
          - products
          - links
          - meta
        properties:
          identification:
            $ref: '#/components/schemas/LifePensionIdentification'
          products:
            $ref: '#/components/schemas/LifePensionProduct'
          links:
            $ref: '#/components/schemas/LinksPaginated'
          meta:
            $ref: '#/components/schemas/MetaPaginated'
    LifePensionIdentification:
      type: object
      description: Organização controladora do grupo.
      required:
        - brand
        - societyName
        - cnpjNumber
      properties:
        brand:
          type: string
          description: >-
            Nome da marca reportada pelo participante do Open Insurance. O
            conceito a que se refere a marca é em essência uma promessa das
            sociedades sob ela em fornecer uma série específica de atributos,
            benefícios e serviços uniformes aos clientes.
          maxLength: 80
          example: Brasilprev
        societyName:
          type: string
          description: Nome da sociedade pertencente à marca.
          maxLength: 80
          example: Brasilprev Seguros e Previdência S.A
        cnpjNumber:
          type: string
          description: CNPJ da sociedade pertencente à marca.
          maxLength: 14
          example: '27665207000131'
    LifePensionProduct:
      type: array
      items:
        type: object
        required:
          - name
          - code
          - segment
          - modality
          - coverages
          - minimumRequirements
          - targetAudience
        properties:
          name:
            type: string
            description: >-
              Nome comercial do produto, pelo qual é identificado nos canais de
              distribuição e atendimento da sociedade.
            maxLength: 80
            example: Brasilprev Private Multimercado 2020
          code:
            type: string
            description: Código único a ser definido pela sociedade.
            maxLength: 80
            example: '1234'
          segment:
            type: string
            description: Segmento do qual se trata o produto contratado.
            maxLength: 20
            example: PREVIDENCIA
            enum:
              - SEGURO_PESSOAS
              - PREVIDENCIA
          type:
            type: string
            description: Tipo do produto contratado.
            maxLength: 20
            example: PGBL
            enum:
              - PGBL
              - PRGP
              - PAGP
              - PRSA
              - PRI
              - PDR
              - VGBL
              - VRGP
              - VAGP
              - VRSA
              - VRI
              - VDR
              - DEMAIS_PRODUTOS_PREVIDENCIA
          modality:
            type: string
            description: Modalidade do produto contratado.
            maxLength: 25
            example: CONTRIBUICAO_VARIAVEL
            enum:
              - CONTRIBUICAO_VARIAVEL
              - BENEFICIO_DEFINIDO
          optionalCoverage:
            type: string
            description: Campo aberto (possibilidade de incluir URL).
            maxLength: 1024
          productDetails:
            $ref: '#/components/schemas/LifePensionProductDetails'
          minimumRequirements:
            $ref: '#/components/schemas/LifePensionMinimumRequirements'
          targetAudience:
            type: string
            description: Público-alvo.
            example: PESSOA_NATURAL
            maxLength: 15
            enum:
              - PESSOA_NATURAL
              - PESSOA_JURIDICA
    LifePensionProductDetails:
      type: array
      items:
        type: object
        required:
          - susepProcessNumber
          - type
          - contractTermsConditions
          - defferalPeriod
          - grantPeriodBenefit
          - costs
        properties:
          susepProcessNumber:
            type: string
            description: >-
              Sequência numérica utilizada para consulta dos processos
              eletrônicos na SUSEP, com caracteres especiais.
            example: 15414.614141/2020-71
            maxLength: 30
          contractTermsConditions:
            type: string
            description: Campo aberto (possibilidade de incluir URL).
            example: 'https://example.com/mobilebanking'
            maxLength: 1024
          defferalPeriod:
            $ref: '#/components/schemas/LifePensionDefferalPeriod'
          grantPeriodBenefit:
            $ref: '#/components/schemas/LifePensionPeriodGrantBenefit'
          costs:
            $ref: '#/components/schemas/LifePensionCosts'
    LifePensionDefferalPeriod:
      type: object
      required:
        - interestRate
        - updateIndex
        - otherMinimumPerformanceGarantees
        - reversalFinancialResults
        - minimumPremiumAmount
        - prizePaymentMethod
        - permissonScheduledFinancialPayments
        - gracePeriodRedemption
        - gracePeriodBetweenRedemptionRequests
        - redemptionPaymentTerm
        - gracePeriodPortability
        - gracePeriodBetweenPortabilityRequests
        - portabilityPaymentTerm
        - investimentFunds
      properties:
        interestRate:
          type: number
          description: >-
            Taxa de juros garantida que remunera o plano durante a fase de
            diferimento/acumulação.
          example: 0.25123
          maxLength: 10
          multipleOf: 0.00001
        updateIndex:
          type: string
          description: >-
            Indice garantido que remunera o plano durante a fase de diferimento/
            acumulação.
          example: IPCA
          maxLength: 12
          enum:
            - IPCA
            - IGP-M
            - INPC
        otherMinimumPerformanceGarantees:
          type: string
          description: >-
            Para produtos do tipo PDR e VDR, indicação do percentual e do índice
            de ampla divulgação utilizados como garantia mínima de desempenho.
            Em %.
          example: SELIC
          maxLength: 12
        reversalFinancialResults:
          type: number
          description: >-
            Percentual de reversão de excedente financeiro no período de
            diferimento.
          example: 5.123
          maxLength: 5
        minimumPremiumAmount:
          type: array
          items:
            type: object
            description: >-
              Valor mínimo em R$ de prêmio/ contribuição aceita pela sociedade
              ao plano (identificar valor mensal e/ou aporte único).
            example:
              minimumPremiumAmountValue: 250
              minimumPremiumAmountDescription: ''
            maxLength: 100
            properties:
              minimumPremiumAmountValue:
                type: number
                description: Valor
                maxLength: 13
                example: 250
              minimumPremiumAmountDescription:
                type: string
                description: Descrição Período.
                maxLength: 15
                example: VALOR MENSAL
        premiumPaymentMethod:
          type: array
          items:
            type: string
            description: Meio de pagamento escolhido pelo segurado.
            example: CARTAO_CREDITO
            maxLength: 20
            enum:
              - CARTAO_CREDITO
              - DEBITO_CONTA
              - DEBITO_CONTA_POUPANCA
              - BOLETO_BANCARIO
              - PIX
              - CARTAO_DEBITO
              - REGRA_PARCEIRO
              - CONSIGNACAO_FOLHA_PAGAMENTO
              - PONTOS_PROGRAMA_BENEFICIO
              - TED_DOC
              - OUTROS
        permissionExtraordinaryContributions:
          type: boolean
          description: Se ficam permitidos aportes extraordinários.
          example: true
        permissonScheduledFinancialPayments:
          type: boolean
          description: Se ficam permitidos pagamentos financeiros programados.
          example: true
        gracePeriodRedemption:
          type: integer
          description: Prazo em dias de carência para resgate.
          maxLength: 4
          example: 100
        gracePeriodBetweenRedemptionRequests:
          type: integer
          description: Prazo em dias de carência entre pedidos de resgate.
          maxLength: 4
          example: 30
        redemptionPaymentTerm:
          type: integer
          description: Prazo em dias para pagamento do resgate.
          maxLength: 4
          example: 10
        gracePeriodPortability:
          type: integer
          description: Prazo em dias de carência para portabilidade.
          maxLength: 4
          example: 12
        gracePeriodBetweenPortabilityRequests:
          type: integer
          description: Prazo em dias de carência entre pedidos de portabilidade.
          maxLength: 4
          example: 15
        portabilityPaymentTerm:
          type: integer
          description: Prazo em dias para pagamento da portabilidade.
          maxLength: 4
          example: 20
        investimentFunds:
          $ref: '#/components/schemas/LifePensionInvestmentFunds'
    LifePensionInvestmentFunds:
      type: array
      description: >-
        Lista com as informações do(s) Fundo(s) de Investimento(s) disponíveis
        para o período de diferimento/acumulação.
      items:
        type: object
        required:
          - cnpjNumber
          - companyName
          - maximumAdministrationFee
          - typePerformanceFee
          - eligibilityRule
          - minimumContributionAmount
          - minimumMathematicalProvisionAmount
        properties:
          cnpjNumber:
            type: string
            description: Número de CNPJ.
            example: 13.456.789/0001-12
            maxLength: 18
          companyName:
            type: string
            description: Nome Fantasia.
            example: EYPREV
            maxLength: 80
          maximumAdministrationFee:
            type: number
            description: Taxa Máxima de Administração – em %.
            example: 20.1
            maxLength: 5
          typePerformanceFee:
            type: array
            items:
              type: string
              description: Tipo de Taxa de Performance
              example: DIRETAMENTE
              maxLength: 15
              enum:
                - DIRETAMENTE
                - INDIRETAMENTE
                - NAO_APLICA
          maximumPerformanceFee:
            type: number
            description: >-
              Taxa Máxima de Performance. Caso o Tipo de Taxa de Performance
              seja ‘Diretamente’.
            maxLength: 5
            example: 20
          eligibilityRule:
            type: boolean
            description: Regra de Eligibilidade.
            example: true
          minimumContributionAmount:
            type: number
            description: >-
              Valor Mínimo de Contribuição. Regra de Elegibilidade. Caso a Regra
              de Elegibilidade SIM.
            example: 1000
            maxLength: 5
          minimumMathematicalProvisionAmount:
            type: number
            description: >-
              Valor Mínimo Provisão Matemática. Caso a Regra de Elegibilidade
              SIM.
            maxLength: 5
            example: 1000
    LifePensionPeriodGrantBenefit:
      type: object
      required:
        - incomeModality
        - biometricTable
        - interestRate
        - updateIndex
        - reversalResultsFinancial
        - investimentFunds
      properties:
        incomeModality:
          type: array
          items:
            type: string
            description: >-
              Modalidades de renda disponíveis para contratação. A considerar os
              seguintes domínios
            example: RENDA_VITALICIA
            maxLength: 100
            enum:
              - PAGAMENTO_UNICO
              - RENDA_PRAZO_CERTO
              - RENDA_TEMPORARIA
              - RENDA_TEMPORARIA_REVERSIVEL
              - RENDA_TEMPORARIA_MINMO_GARANTIDO
              - RENDA_TEMPORARIA_REVERSIVEL_MININO_GARANTIDO
              - RENDA_VITALICIA
              - RENDA_VITALICIA_REVERSIVEL_BENEFICIARIO_INDICADO
              - RENDA_VITALICIA_CONJUGE_CONTINUIDADE_MENORES
              - RENDA_VITALICIA_MINIMO_GARANTIDO
              - RENDA_VITALICIA_PRAZO_MINIMO_GRANTIDO
        biometricTable:
          type: array
          items:
            type: string
            description: >-
              Tábua biométrica é o instrumento que mede a duração da vida humana
              (também conhecida como tábua de mortalidade) ou a probabilidade de
              entrada em invalidez e é um parâmetro utilizado para tarifar os
              planos de previdência complementar aberta.
            example: AT_2000_FEMALE_SUAVIZADA_15
            maxLength: 100
            enum:
              - AT_2000_MALE
              - AT_2000_FEMALE
              - AT_2000_MALE_FEMALE
              - AT_2000_MALE_SUAVIZADA_10
              - AT_2000_FEMALE_SUAVIZADA_10
              - AT_2000_MALE_FEMALE_SUAVIZADA_10
              - AT_2000_MALE_SUAVIZADA_15
              - AT_2000_FEMALE_SUAVIZADA_15
              - AT_2000_MALE_FEMALE_SUAVIZADA_15
              - AT_83_MALE
              - AT_83_FEMALE
              - AT_83_MALE_FEMALE
              - BR_EMSSB_MALE
              - BR_EMSSB_FEMALE
              - BR_EMSSB_MALE_FEMALE
        interestRate:
          type: number
          description: Taxa de juros garantida utilizada para conversão em renda. Em %.
          example: 3.225
          maxLength: 6
        updateIndex:
          type: string
          description: >-
            É o índice contratado para atualização monetária dos valores
            relativos ao plano, na forma estabelecida por este regulamento.
          example: IPCA
          maxLength: 20
          enum:
            - IPCA
            - IGP-M
            - INPC
        reversalResultsFinancial:
          type: number
          description: Percentual de reversão de excedente financeiro na concessão. Em %.
          example: 013.252
          maxLength: 8
        investimentFunds:
          $ref: '#/components/schemas/LifePensionInvestmentFunds'
    LifePensionCosts:
      type: object
      required:
        - loadingAntecipated
        - loadingLate
      properties:
        loadingAntecipated:
          $ref: '#/components/schemas/LifePensionLoading'
        loadingLate:
          $ref: '#/components/schemas/LifePensionLoading'
    LifePensionLoading:
      type: object
      required:
        - minValue
        - maxValue
      properties:
        minValue:
          type: number
          description: Valor mínimo em %.
          example: 4.122
          maxLength: 7
        maxValue:
          type: number
          description: alor máximo em %.
          example: 10
          maxLength: 8
    LifePensionMinimumRequirements:
      type: object
      required:
        - contractType
        - participantQualified
        - minRequirementsContract
      properties:
        contractType:
          type: string
          description: O tipo de serviço contratado.
          example: INDIVIDUAL
          maxLength: 15
          enum:
            - COLETIVO_AVERBADO
            - COLETIVO_INSTITUIDO
            - INDIVIDUAL
        participantQualified:
          type: boolean
          description: Indicação se o plano é destinado para participante qualificado.
        minRequirementsContract:
          type: string
          description: >-
            Campo aberto contendo todos os requisitos mínimos para contratação
            (possibilidade de incluir URL).
          example: 'https://example.com/mobile-banking'
          maxLength: 1024
    LinksPaginated:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    MetaPaginated:
      type: object
      required:
        - totalRecords
        - totalPages
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
              - requestDateTime
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
              requestDateTime:
                description: >-
                  Data e hora da consulta, conforme especificação RFC-3339,
                  formato UTC.
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/MetaPaginated'
      additionalProperties: false
    ResponsePersonList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/PersonBrand'
        links:
          $ref: '#/components/schemas/LinksPaginated'
        meta:
          $ref: '#/components/schemas/MetaPaginated'
    PersonBrand:
      type: object
      description: Organização controladora do grupo.
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: >-
            Nome da marca reportada pelo participante do Open Insurance. O
            conceito a que se refere a marca é em essência uma promessa das
            sociedades sob ela em fornecer uma série específica de atributos,
            benefícios e serviços uniformes aos clientes.
          example: Marca
        companies:
          $ref: '#/components/schemas/PersonCompany'
    PersonCompany:
      type: array
      items:
        description: Companies traz uma lista de todas as instituições da Marca.
        required:
          - name
          - cnpjNumber
          - product
        properties:
          name:
            type: string
            description: Nome da sociedade pertencente à marca.
            example: Seguradora
          cnpjNumber:
            type: string
            description: CNPJ da sociedade pertencente à marca.
            example: '45086338000178'
          products:
            $ref: '#/components/schemas/PersonProducts'
    PersonProducts:
      type: array
      description: Lista de Dependências de uma Instituição.
      items:
        type: object
        required:
          - name
          - code
          - category
          - insuranceModality
          - coverages
          - additional
          - termsAndConditions
          - globalCapital
          - validity
          - contractType
          - otherGuaranteedValues
          - allowPortability
          - portabilityGraceTime
          - indemnityPaymentMethod
          - indemnityPaymentIncome
          - targetAudience
        properties:
          name:
            type: string
            description: >-
              Nome comercial do produto, pelo qual é identificado nos canais de
              distribuição e atendimento da sociedade.
            example: Seguro Pessoal
          code:
            type: string
            description: >-
              Código único a ser definido pela sociedade (código interno do
              produto) a critério da participante.
            example: 123456789_cap
          category:
            type: string
            description: Indica a categoria do Produto
            enum:
              - TRADICIONAL
              - MICROSEGURO
          insuranceModality:
            type: string
            example: FUNERAL
            enum:
              - FUNERAL
              - PRESTAMISTA
              - VIAGEM
              - EDUCACIONAL
              - DOTAL
              - ACIDENTES_PESSOAIS
              - VIDA
              - PERDA_CERTIFICADO_HABILITACAOO_VOO
              - DOENCAS_GRAVES_DOENCA_TERMINAL
              - DESEMPREGO_PERDA_RENDA
              - EVENTOS_ALEATORIOS
          coverages:
            type: array
            items:
              type: object
              properties:
                coverage:
                  type: string
                  example: AUXILIO_CESTA_BASICA
                  enum:
                    - ADIANTAMENTO_DOENCA_ESTAGIO_TERMINAL
                    - AUXILIO_CESTA_BASICA
                    - AUXILIO_FINANCEIRO_IMEDIATO
                    - CANCELAMENTO_DE_VIAGEM
                    - CIRURGIA
                    - COBERTURA_PARA_HERNIA
                    - COBERTURA_PARA_LER_DORT
                    - CUIDADOS_PROLONGADOS_ACIDENTE
                    - DESEMPREGO_PERDA_DE_RENDA
                    - >-
                      DESPESAS_EXTRA_INVALIDEZ_PERMANENTE_TOTAL_PARCIAL_ACIDENTE_DEI
                    - DESPESAS_EXTRA_MORTE_DEM
                    - DESPESAS_MEDICAS_HOSPITALARES_ODONTOLOGICAS
                    - DESPESAS_MEDICAS_HOSPITALARES_ODONTOLOGICAS_BRASIL
                    - DESPESAS_MEDICAS_HOSPITALARES_ODONTOLOGICAS_EXTERIOR
                    - DIARIA_INCAPACIDADE_TOTAL_TEMPORARIA
                    - DIARIA_INTERNACAO_HOSPITALAR
                    - INTERNACAO_HOSPITALAR
                    - DIARIAS_INCAPACIDADE_PECUNIARIA_DIP
                    - DOENCA_GRAVE
                    - DOENCA_CONGENITA_FILHOS_DCF
                    - FRATURA_OSSEA
                    - DOENCAS_TROPICAIS
                    - INCAPACIDADE_TOTAL_OU_TEMPORARIA
                    - INVALIDEZ_PERMANENTE_TOTAL_PARCIAL
                    - INVALIDEZ_TOTAL_ACIDENTE
                    - INVALIDEZ_PARCIAL_ACIDENTE
                    - INVALIDEZ_FUNCIONAL_PERMANENTE_DOENCA
                    - INVALIDEZ_LABORATIVA_DOENCA
                    - MORTE
                    - MORTE_ACIDENTAL
                    - MORTE_CONJUGE
                    - MORTE_FILHOS
                    - MORTE_ADIATAMENTO_DOENCA_ESTAGIO_TERMINAL
                    - PAGAMENTO_ANTECIPADO_ESPECIAL_DOENCA_PROFISSIONAL_PAED
                    - PERDA_DA_AUTONOMIA_PESSOAL
                    - PERDA_INVOLUNTARIA_EMPREGO
                    - QUEIMADURA_GRAVE
                    - REGRESSO_ANTECIPADO_SANITARIO
                    - RENDA_INCAPACIDADE_TEMPORARIA
                    - RESCISAO_CONTRATUAL_CASO_MORTE_RCM
                    - RESCISAO_TRABALHISTA
                    - SERVICO_AUXILIO_FUNERAL
                    - SOBREVIVENCIA
                    - TRANSPLANTE_ORGAOS
                    - TRANSLADO
                    - TRANSLADO_MEDICO
                    - TRANSLADO_CORPO
                    - VERBA_RESCISORIA
                    - OUTRAS
                coverageOthers:
                  type: array
                  items:
                    type: string
                coverageAttributes:
                  $ref: '#/components/schemas/PersonCoverageAttributes'
          assistanceType:
            type: array
            description: >-
              Listagem dos serviços de assistências complementares disponíveis
              vinculados ao produto. Deve ser padronizada na proposta técnica
              submetida pela Estrutura Inicial de  Governança para observância
              comum por todas as sociedades participantes
            items:
              type: string
              enum:
                - ACOMPANHANTE_CASO_HOSPITALIZACAO_PROLONGADA
                - ARQUITETO_VIRTUAL
                - ASSESSORIA_FINANCEIRA
                - AUTOMOVEL
                - AUXILIO_NATALIDADE
                - AVALIACAO_CLINICA_PREVENTIVA
                - BOLSA_PROTEGIDA
                - CESTA_BASICA
                - CHECKUP_ODONTOLOGICO
                - CLUBE_VANTAGENS_BENEFICIOS
                - CONVALESCENCIA
                - DECESSO
                - DESCONTO_FARMACIAS_MEDICAMENTOS
                - DESPESAS_FARMACEUTICAS_VIAGEM
                - DIGITAL
                - EDUCACIONAL
                - EMPRESARIAL
                - ENCANADOR
                - ENTRETENIMENTO
                - EQUIPAMENTOS_MEDICOS
                - FIANCAS_DESPESAS_LEGAIS
                - FISIOTERAPIA
                - FUNERAL
                - HELP_LINE
                - HOSPEDAGEM_ACOMPANHANTE
                - INTERRUPCAO_VIAGEM
                - INVENTARIO
                - MAIS_EM_VIDA
                - MAMAE_BEBE
                - MEDICA_ACIDENTE_DOENCA
                - MOTOCICLETA
                - MULHER
                - NUTRICIONISTA
                - ODONTOLOGICA
                - ORIENTACAO_FITNESS
                - ORIENTACAO_JURIDICA
                - ORIENTACAO_NUTRICIONAL
                - PERSONAL_FITNESS
                - ORIENTACAO_PSICOSSOCIAL_FAMILIAR
                - PERDA_ROUBO_CARTAO
                - PET
                - PRORROGACAO_ESTADIA
                - PROTECAO_DADOS
                - RECOLOCACAO_PROFISSIONAL
                - REDE_DESCONTO_NUTRICIONAL
                - RESIDENCIAL
                - RETORNO_MENORES_SEGURADO
                - SAQUE_COACAO
                - SAUDE_BEM_ESTAR
                - SEGUNDA_OPINIAO_MEDICA
                - SENIOR
                - SUSTENTAVEL_DESCARTE_ECOLOGICO
                - TELEMEDICINA
                - VIAGEM
                - VITIMA
                - OUTROS
          additional:
            type: array
            items:
              type: string
              enum:
                - SORTEIO
                - SERVICOS_ASSISTENCIAS_COMPLEMENTARES_PAGO
                - SERVICOS_ASSISTENCIA_COMPLEMENTARES_GRATUITO
                - OUTROS
                - NAO_HA
          assistanceTypeOthers:
            type: array
            items:
              type: string
              description: >-
                Campo a ser preenchido pelas participantes quando houver
                ‘Outros’ no campo ‘Tipo de Assistência’
          termsAndConditions:
            type: array
            items:
              $ref: '#/components/schemas/PersonTermsAndCondition'
          globalCapital:
            type: boolean
            description: >-
              Seguro de pessoas com capital global modalidade de contratação
              coletiva da cobertura de risco, respeitados os critérios
              técnico-operacionais, forma e limites fixados pela SUSEP, segundo
              a qual o valor do capital segurado referente a cada componente
              sofrerá variações decorrentes de mudanças na composição do grupo
              segurado
          validity:
            type: array
            items:
              type: string
              enum:
                - VITALICIA
                - TEMPORARIA_PRAZO_FIXO
                - TEMPORARIA_INTERMITENTE
          pmbacRemuneration:
            $ref: '#/components/schemas/PersonPmbacRemuneration'
          benefitRecalculation:
            $ref: '#/components/schemas/PersonBenefitRecalculation'
          ageAdjustment:
            $ref: '#/components/schemas/PersonAgeAdjustment'
          contractType:
            type: string
            description: Regime Financeiro
            enum:
              - REPARTICAO_SIMPLES
              - REPARTICAO_CAPITAIS
              - CAPITALIZACAO
          reclaim:
            $ref: '#/components/schemas/PersonReclaim'
          otherGuaranteedValues:
            type: string
            enum:
              - SALDAMENTO
              - BENEFICIO_PROLONGADO
              - NAO_SE_APLICA
          allowPortability:
            type: boolean
            description: Permite Portabilidade
          portabilityGraceTime:
            type: integer
            description: Prazo de carência em dias para Portabilidade
          indemnityPaymentMethod:
            type: array
            items:
              type: string
              description: Modalidade de pagamento da indenização
              enum:
                - UNICO
                - SOB_FORMA_DE_RENDA
          indemnityPaymentIncome:
            type: array
            items:
              type: string
              enum:
                - CERTA
                - TEMPORARIA
                - TEMPORARIA_REVERSIVEL
                - TEMPORARIO_MINIMO_GARANTIDO
                - TEMPORARIA_REVERSIVEL_MINIMO_GARANTIDO
                - VITALICIA
                - VITALICIA_REVERSIVEL
                - VITALICIA_MINIMO_GARANTIDO
                - VITALICIA_REVERSIVEL_MINIMO_GARANTIDO
          premiumPayment:
            $ref: '#/components/schemas/PersonPremiumPayment'
          minimunRequirements:
            $ref: '#/components/schemas/PersonMinimumRequirements'
          targetAudience:
            type: string
            enum:
              - PESSOA_NATURAL
              - PESSOA_JURIDICA
    PersonTermsAndCondition:
      type: object
      required:
        - susepProcessNumber
        - definition
      properties:
        susepProcessNumber:
          type: string
          description: Número do processo Susep.
        definition:
          type: string
          description: Campo aberto (possibilidade de incluir URL).
    PersonCoverageAttibutesDetailsUnit:
      type: object
      required:
        - code
        - description
      properties:
        code:
          type: string
          description: Tipo unidade de medida.
          example: R$
        description:
          type: string
          description: Descrição da unidade de medida
          example: description
    PersonCoverageAttibutesDetails:
      type: object
      required:
        - amount
        - unit
      properties:
        amount:
          type: number
          description: Valor.
          example: 60
        unit:
          $ref: '#/components/schemas/PersonCoverageAttibutesDetailsUnit'
    PersonGracePeriodUnit:
      type: object
      description: Período de carência
      properties:
        amount:
          type: number
          description: Prazo de Carência
          example: 60
        unit:
          type: string
          description: Unidade do prazo (dias ou meses).
          example: DIAS
          enum:
            - DIAS
            - MESES
            - NAO_SE_APLICA
    personPortabilityGraceTime:
      type: object
      description: Prazo de carência em dias para Portabilidade
      properties:
        amount:
          type: number
          description: Prazo de Carência
          example: 60
        unit:
          type: string
          description: Unidade do prazo (dias ou meses).
          example: DIAS
          enum:
            - DIAS
            - MESES
            - NAO_SE_APLICA
    PersonCoverageAttributes:
      type: object
      required:
        - indemnityPaymentMethod
        - indemnityPaymentFrequency
        - minValue
        - maxValue
        - indemnifiablePeriod
        - maximumQtyIndemnifiableInstallments
        - currency
        - gracePeriod
        - deductibleDays
        - deductibleBRL
        - excludedRisks
        - coverageGroup
        - allowApartPurchase
        - minCoverageGroupRequired
      properties:
        indemnityPaymentMethod:
          type: array
          description: >-
            Listagem da forma de pagamento da indenização para cada combinação
            de  modalidade/cobertura do produto
          items:
            type: string
            example: PAGAMENTO_CAPITAL_SEGURADO_VALOR_MONETARIO
            enum:
              - PAGAMENTO_CAPITAL_SEGURADO_VALOR_MONETARIO
              - REEMBOLSO_DESPESAS
              - PRESTACAO_SERVICOS
        indemnityPaymentFrequency:
          type: array
          description: >-
            Listagem de tipos de frequência de pagamento de indenização para
            cada combinação de modalidade/cobertura do produto
          items:
            type: string
            example: INDENIZACAO_UNICA
            enum:
              - INDENIZACAO_UNICA
              - DIARIA_OU_PARCELA
        minValue:
          type: object
          description: >-
            Listagem do valor mínimo de cobertura (Capital Segurado), diária ou
            parcela aceito pela  sociedade para cada  combinação de
            modalidade/cobertura do produto. Em reais
          items:
            $ref: '#/components/schemas/PersonCoverageAttibutesDetails'
        maxValue:
          type: object
          description: >-
            Listagem do valor máximo de cobertura (Capital Segurado), diária ou
            parcela aceito  pela sociedade para cada  combinação de
            modalidade/cobertura do produto. Em reais
          items:
            $ref: '#/components/schemas/PersonCoverageAttibutesDetails'
        indemnifiablePeriod:
          type: array
          description: >-
            Listagem de período indenizável para cada combinação de
            modalidade/cobertura do produto
          items:
            type: string
            example: ATE_FIM_CICLO_DETERMINADO
        maximumQtyIndemnifiableInstallments:
          type: integer
          description: >-
            Caso o período indenizável seja relacionado a parcelas, listagem de
            número máximo de  parcelas indenizáveis para cada combinação de
            modalidade/ cobertura do produto
        currency:
          type: string
          description: Moeda sobre a qual a cobertura se refere. De acordo com ISO-4217.
          example: BRL
          enum:
            - AFN
            - ALL
            - DZD
            - USD
            - EUR
            - AOA
            - XCD
            - ARS
            - AMD
            - AWG
            - AUD
            - AZN
            - BSD
            - BHD
            - BDT
            - BBD
            - BYN
            - BZD
            - XOF
            - BMD
            - BTN
            - BOB
            - BOV
            - BAM
            - BWP
            - NOK
            - BRL
            - BND
            - BGN
            - BIF
            - CVE
            - KHR
            - XAF
            - CAD
            - KYD
            - CLF
            - CLP
            - CNY
            - COP
            - COU
            - KMF
            - CDF
            - NZD
            - CRC
            - HRK
            - CUC
            - CUP
            - ANG
            - CZK
            - DKK
            - DJF
            - DOP
            - EGP
            - SVC
            - ERN
            - ETB
            - FKP
            - FJD
            - XPF
            - GMD
            - GEL
            - GHS
            - GIP
            - GTQ
            - GBP
            - GNF
            - GYD
            - HTG
            - HNL
            - HKD
            - HUF
            - ISK
            - INR
            - IDR
            - XDR
            - IRR
            - IQD
            - ILS
            - JMD
            - JPY
            - JOD
            - KZT
            - KES
            - KPW
            - KRW
            - KWD
            - KGS
            - LAK
            - LBP
            - LSL
            - ZAR
            - LRD
            - LYD
            - CHF
            - MOP
            - MGA
            - MWK
            - MYR
            - MVR
            - MRU
            - MUR
            - XUA
            - MXN
            - MXV
            - MDL
            - MNT
            - MAD
            - MZN
            - MMK
            - NAD
            - NPR
            - NIO
            - NGN
            - OMR
            - PKR
            - PAB
            - PGK
            - PYG
            - PEN
            - PHP
            - PLN
            - QAR
            - MKD
            - RON
            - RUB
            - RWF
            - SHP
            - WST
            - STN
            - SAR
            - RSD
            - SCR
            - SLL
            - SGD
            - XSU
            - SBD
            - SOS
            - SSP
            - LKR
            - SDG
            - SRD
            - SZL
            - SEK
            - CHE
            - CHW
            - SYP
            - TWD
            - TJS
            - TZS
            - THB
            - TOP
            - TTD
            - TND
            - TRY
            - TMT
            - UGX
            - UAH
            - AED
            - USN
            - UYI
            - UYU
            - UZS
            - VUV
            - VEF
            - VND
            - YER
            - ZMW
            - ZWL
        gracePeriod:
          $ref: '#/components/schemas/PersonGracePeriodUnit'
        differentiatedGracePeriod:
          $ref: '#/components/schemas/PersonGracePeriodUnit'
        deductibleDays:
          type: integer
          description: >-
            Listagem de franquia em dias para cada combinação de
            modalidade/cobertura do produto.
        differentiatedDeductibleDays:
          type: number
          description: >-
            Detalhamento da franquia em dias diferentes para cada cobertura que
            exista alguma especificidade. Caso a seguradora não tenha essa
            diferenciação, não retornará nada no campo.
        deductibleBRL:
          type: number
          description: >-
            Listagem de franquia em reais para cada combinação de
            modalidade/cobertura do produto.
        differentiatedDeductibleBRL:
          type: string
          description: >-
            Detalhamento da franquia em reais diferentes para cada cobertura que
            exista alguma especificidade. Caso a seguradora não tenha essa
            diferenciação, não retornará nada no campo.
        excludedRisks:
          type: array
          description: >-
            Listagem dos tipos de riscos excluídos para cada combinação de
            modalidade/cobertura do produto. Deve ser padronizada na proposta
            técnica submetida pela Estrutura Inicial de Governança para
            observância comum por todas as sociedades participantes
          items:
            type: string
            enum:
              - ATO_RECONHECIMENTO_PERIGOSO
              - ATO_ILICITO_DOLOSO_PRATICADO_SEGURADO
              - OPERACOES_DE_GUERRA
              - FURACOES_CICLONES_TERREMOTOS
              - MATERIAL_NUCLEAR
              - DOENCAS_LESOES_PREEXISTENTES
              - EPIDEMIAS_PANDEMIAS
              - SUICIDIO
              - ATO_ILICITO_DOLOSO_PRATICADO_CONTROLADOR
              - OUTROS
        excludedRisksURL:
          type: string
          description: Campo aberto (possibilidade de incluir URL).
        allowApartPurchase:
          type: boolean
          description: Indicar se a cobertura pode ser contratada isoladamente ou não.
          example: true
    PersonPmbacRemuneration:
      type: object
      required:
        - pmbacUpdateIndex
      properties:
        interestRate:
          type: number
          description: Taxa de juros para capitalização da PMBaC.
        pmbacUpdateIndex:
          type: string
          description: Índice utilizado na atualização da PMBaC.
          example: IPCA
          enum:
            - IPCA
            - IGP-M
            - INPC
    PersonBenefitRecalculation:
      type: object
      required:
        - benefitRecalculationCriteria
        - benefitUpdateIndex
      properties:
        benefitRecalculationCriteria:
          type: string
          example: INDICE
          enum:
            - INDICE
            - VINCULADO_SALDO_DEVEDOR
            - VARIAVEL_ACORDO_CRITERIO_ESPECIFICO
        benefitUpdateIndex:
          type: string
          description: >-
            Índice utilizado na atualização do prêmio/contribuição e do capital
            segurado/ benefício,  caso critério de atualização por meio de
            índice
          enum:
            - IPCA
            - IGP-M
            - INPC
    PersonAgeAdjustment:
      type: object
      required:
        - criterion
        - frequency
      properties:
        criterion:
          type: string
          description: Critério escolhido para reenquadramento etário
          example: APOS_PERIODO_EM_ANOS
          enum:
            - APOS_PERIODO_EM_ANOS
            - A_CADA_PERIODO_EM_ANOS
            - POR_MUDANCA_DE_FAIXA_ETARIA
            - NAO_APLICAVEL
        frequency:
          type: integer
          description: >-
            Período em anos, caso critério de reenquadramento após ou a cada
            período em anos.
    personReclaimTable:
      type: object
      required:
        - initialMonthRange
        - finalMonthRange
        - percentage
      description: Tabela Percentuais de resgate
      properties:
        initialMonthRange:
          type: integer
          description: Mês inicial do range
          example: 1
        finalMonthRange:
          type: integer
          description: Mês final do range
          example: 12
        percentage:
          type: number
          description: Percentual da faixa de resgate
    PersonReclaim:
      type: object
      required:
        - reclaimTable
        - gracePeriod
      properties:
        reclaimTable:
          type: array
          description: >-
            Listagem de percentuais de resgate da PMBaC para cada conjunto de
            prazo aplicável e para cada combinação de modalidade/cobertura
            estruturados em regime de capitalização
          items:
            $ref: '#/components/schemas/personReclaimTable'
        differentiatedPercentage:
          type: string
          description: Campo aberto (possibilidade de incluir URL).
        gracePeriod:
          $ref: '#/components/schemas/PersonGracePeriodUnit'
    PersonPremiumPayment:
      type: object
      required:
        - paymentMethod
        - frequency
      properties:
        paymentMethod:
          type: array
          items:
            type: string
            description: Meio(s) de pagamento do Prêmio disponíveis
            example: CARTAO_CREDITO
            enum:
              - CARTAO_CREDITO
              - DEBITO_CONTA
              - DEBITO_CONTA_POUPANCA
              - BOLETO_BANCARIO
              - PIX
              - CARTAO_DEBITO
              - REGRA_PARCEIRO
              - CONSIGNACAO_FOLHA_PAGAMENTO
              - PONTOS_PROGRAMAS_BENEFICIO
        frequency:
          type: array
          items:
            type: string
            description: Periodicidade de pagamento do prêmio
            example: DIARIA
            enum:
              - DIARIA
              - MENSAL
              - UNICA
              - ANUAL
              - TRIMESTRAL
              - SEMESTRAL
              - FRACIONADO
              - OUTRA
        premiumTax:
          type: string
          description: >-
            Distribuição de frequência relativa aos valores referentes às taxas
            cobradas.
    PersonMinimumRequirements:
      type: object
      required:
        - contractingType
        - contractingMinRequirement
      properties:
        contractingType:
          type: string
          enum:
            - COLETIVO
            - INDIVIDUAL
        contractingMinRequirement:
          type: string
    ResponseCapitalizationTitleList:
      type: object
      required:
        - data
        - brand
        - links
        - meta
      properties:
        requestTime:
          description: >-
            Data e hora da consulta, conforme especificação RFC-3339, formato
            UTC.
          type: string
          pattern: '[\w\W\s]*'
          maxLength: 2048
          format: date-time
          example: '2021-08-20T08:30:00Z'
        brand:
          $ref: '#/components/schemas/CapitalizationTitleBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    CapitalizationTitleBrand:
      type: object
      description: Organização controladora do grupo.
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: >-
            Nome da marca reportada pelo participante do Open Insurance. O
            conceito a que se refere a marca é em essência uma promessa das
            sociedades sob ela em fornecer uma série específica de atributos,
            benefícios e serviços uniformes aos clientes.
          maxLength: 80
          example: ACME seguros
        companies:
          $ref: '#/components/schemas/CapitalizationTitleCompany'
    CapitalizationTitleCompany:
      type: array
      items:
        description: Informações referente a sociedade a qual a marca pertence.
        required:
          - name
          - cnpjNumber
          - product
        properties:
          name:
            type: string
            description: Nome da sociedade pertencente à marca.
            maxLength: 80
            example: ACME cap da ACME seguros
          cnpjNumber:
            type: string
            description: CNPJ da sociedade pertencente à marca.
            maxLength: 14
            example: '12345678901234'
          product:
            $ref: '#/components/schemas/CapitalizationTitleProduct'
    CapitalizationTitleProduct:
      type: array
      description: Lista de produtos de uma empresa.
      items:
        type: object
        required:
          - name
          - code
          - modality
          - quotas
          - coverages
          - costType
        properties:
          name:
            type: string
            description: >-
              Nome comercial do produto, pelo qual é identificado nos canais de
              distribuição e atendimento da sociedade.
            maxLength: 80
            example: ACMEcap
          code:
            type: string
            description: Código único a ser definido pela sociedade.
            maxLength: 100
            example: 01234589_cap
          modality:
            type: array
            description: Modalidade.
            items:
              type: string
              enum:
                - TRADICIONAL
                - INSTRUMENTO_GARANTIA
                - COMPRA_PROGRAMADA
                - POPULAR
                - INCENTIVO
                - FILANTROPIA_PREMIAVEL
          costType:
            type: array
            description: Forma de custeio
            items:
              type: string
              enum:
                - PAGAMENTO_UNICO
                - PAGAMENTO_MENSAL
                - PAGAMENTO_PERIODICO
          termsAndConditions:
            $ref: '#/components/schemas/CapitalizationTitleTerms'
          quotas:
            type: array
            items:
              $ref: '#/components/schemas/CapitalizationTitleQuotas'
          validity:
            $ref: '#/components/schemas/CapitalizationTitleValidity'
          serieSize:
            $ref: '#/components/schemas/CapitalizationTitleSerieSize'
          capitalizationPeriod:
            $ref: '#/components/schemas/CapitalizationTitlePeriod'
          latePayment:
            $ref: '#/components/schemas/CapitalizationTitleLatePayment'
          contributionPayment:
            $ref: '#/components/schemas/CapitalizationTitleContributionPayment'
          redemption:
            $ref: '#/components/schemas/CapitalizationTitleredemption'
          raffle:
            $ref: '#/components/schemas/CapitalizationTitleRaffle'
          additionalDetails:
            $ref: '#/components/schemas/CapitalizationTitleAdditionals'
          minimumRequirements:
            $ref: '#/components/schemas/CapitalizationTitleMinimumRequirements'
    CapitalizationTitleTerms:
      type: object
      description: Informações dos termos e condições conforme número do processo SUSEP.
      required:
        - susepProcessNumber
        - termsRegulations
      properties:
        susepProcessNumber:
          type: number
          description: Número do processo SUSEP.
          maxLength: 20
          example: 15414622222222222
        termsRegulations:
          type: string
          description: Campo aberto (possibilidade de incluir uma url).
          maxLength: 1024
          example: >-
            https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf
    CapitalizationTitleQuotas:
      type: object
      description: Quotas
      required:
        - quota
        - capitalizationQuota
        - raffleQuota
        - chargingQuota
      properties:
        quota:
          type: integer
          description: Número da parcela.
          example: 10
        capitalizationQuota:
          type: array
          description: >-
            Percentual da contribuição destinado à constituição de capital
            referente ao direito de resgate.
          items:
            type: number
            maxLength: 9
            example: 10
        raffleQuota:
          type: array
          description: >-
            Percentual da contribuição designado a custear os sorteios, se
            previstos no plano
          items:
            type: number
            maxLength: 9
            example: 10
        chargingQuota:
          type: array
          description: >-
            Percentual da contribuição destinado aos custos de despesas com
            corretagem, colocação e administração do título de capitalização,
            emissão, divulgação, lucro da sociedade de capitalização e eventuais
            despesas relavas ao custeio da contemplação obrigatória e da
            distribuição de bônus.
          items:
            type: number
            maxLength: 9
            example: 10
    CapitalizationTitleValidity:
      type: integer
      description: Prazo de vigência do título de capitalização em meses.
      maxLength: 3
      example: 48
    CapitalizationTitleSerieSize:
      type: integer
      description: >-
        Os títulos de capitalização que prevejam sorteio devem ser estruturados
        em series, ou seja, em sequencias ou em grupos de títulos submetidos às
        mesmas condições e características, à exceção do valor do pagamento.
      maxLength: 10
      example: 5000000
    CapitalizationTitlePeriod:
      description: Período de Capitalização
      type: object
      required:
        - interestRate
        - updateIndex
        - contributionAmount
        - earlyRedemption
        - redemptionPercentageEndTerm
        - gracePeriodRedemption
      properties:
        interestRate:
          description: >-
            Taxa que remunera a parte da mensalidade destinada a formar o
            Capital, ou seja, a Provisão Matemática de Resgate, também chamada
            de saldo de capitalização. Em porcentagem ao mês (% a.m)
          type: number
          maxLength: 7
          example: 0.25123
        updateIndex:
          type: array
          description: >-
            Índice utilizado na correção que remunera a provisão matemática para
            capitalização
          items:
            type: string
            example: IPCA
            enum:
              - IPCA
              - IGPM
              - INPC
              - TR
              - INDICE_REMUNERACAO_DEPOSITOS_POUPANCA
              - OUTROS
        others:
          type: array
          description: Preenchida pelas participantes quando houver ‘Outros’ no campo.
          items:
            type: string
            example: Índice de atualização
        contributionAmount:
          $ref: '#/components/schemas/CapitalizationTitleContributionAmount'
        earlyRedemption:
          description: >-
            Possibilidade de o titular efetuar o resgate do capital constituído
            antes do fim do prazo de vigência do título, podendo ocorrer por
            solicitação expressa do titular ou por contemplação em sorteio com
            liquidação antecipada
          type: array
          items:
            type: number
            maxLength: 9
            example: 10
        redemptionPercentageEndTerm:
          description: >-
            Percentual mínimo da soma das contribuições efetuadas que poderá ser
            resgatado ao final da vigência,  tendo como condição os pagamentos
            das parcelas nos respectivos vencimentos.
          type: number
          maxLength: 7
          example: 100.002
        gracePeriodRedemption:
          description: >-
            Intervalo de tempo mínimo entre contratação e resgate do direito, em
            meses.
          type: integer
          maxLength: 3
          example: 48
    CapitalizationTitleContributionAmount:
      type: object
      properties:
        minValue:
          type: number
          description: Valor Mínimo
          example: 500
        maxValue:
          type: number
          description: Valor Máximo
          example: 5000
        frequency:
          type: string
          description: 'Pagamento mensal, pagamento único ou periódico.'
          example: MENSAL
          enum:
            - MENSAL
            - UNICO
            - PERIODICO
        value:
          type: number
          description: valor
    CapitalizationTitleLatePayment:
      type: object
      description: Atraso de Pagamento
      required:
        - suspensionPeriod
        - termExtensionOption
      properties:
        suspensionPeriod:
          description: >-
            Prazo máximo (contínuo ou intermitente) em meses que o título fica
            suspenso por atraso de pagamento, antes de ser cancelado (não
            aplicável a pagamento único).
          type: integer
          maxLength: 3
          example: 10
        termExtensionOption:
          description: 'Alteração do prazo de vigência original, pela suspensão.'
          type: boolean
          example: true
    CapitalizationTitleContributionPayment:
      type: object
      description: Pagamento da contribuição
      required:
        - paymentMethod
        - updateIndex
      properties:
        paymentMethod:
          description: Meio de Pagamento utilizados para pagamento da contribuição.
          type: array
          items:
            type: string
            example: CARTAO_CREDITO
            enum:
              - CARTAO_CREDITO
              - CARTAO_DEBITO
              - DEBITO_CONTA_CORRENTE
              - DEBITO_CONTA_POUPANCA
              - BOLETO_BANCARIO
              - PIX
              - CONSIGNACAO_FOLHA_PAGAMENTO
              - PAGAMENTO_COM_PONTOS
              - OUTROS
        updateIndex:
          description: >-
            Índice utilizado na atualização dos pagamentos mensais (para títulos
            com mais de 12 meses de vigência)
          type: array
          items:
            type: string
            example: IPCA
            enum:
              - IPCA
              - IGPM
              - INPC
              - TR
              - INDICE_REMUNERACAO_DEPOSITOS_POUPANCA
              - OUTROS
        others:
          type: array
          description: Preenchida pelas participantes quando houver ‘Outros’ no campo.
          items:
            type: string
            example: Índice de atualização
    CapitalizationTitleredemption:
      type: object
      required:
        - redemption
      properties:
        redemption:
          description: Valor percentual (%) de resgate final permitido.
          type: number
          maxLength: 6
          example: 151.23
    CapitalizationTitleRaffle:
      description: Sorteio
      type: object
      required:
        - timeInterval
        - raffleQty
        - raffleValue
        - earlySettlementRaffle
        - mandatoryContemplation
        - RuleDescription
        - minimumContemplationProbability
      properties:
        raffleQty:
          type: integer
          description: Número da quantidade de sorteios previstos ao longo da vigência
          maxLength: 5
          example: 10000
        timeInterval:
          description: Intervalo de tempo regular previsto entre os sorteios.
          type: array
          items:
            type: string
            example: QUINZENAL
            enum:
              - UNICO
              - DIARIO
              - SEMANAL
              - QUINZENAL
              - MENSAL
              - BIMESTRAL
              - TRIMESTRAL
              - QUADRIMESTRAL
              - SEMESTRAL
              - ANUAL
              - OUTROS
        raffleValue:
          type: integer
          description: >-
            Valor dos sorteios representado por múltiplo do valor de
            contribuição.
          maxLength: 6
          example: 5
        earlySettlementRaffle:
          type: boolean
          description: >-
            Liquidação antecipada em Sorteio. Modelo de sorteio que acarreta, ao
            título contemplado, o seu resgate total obrigatório (Resolução
            Normativa 384/20).
          example: true
        mandatoryContemplation:
          type: boolean
          description: >-
            Contemplação obrigatória. Possibilidade de realização de sorteio com
            previsão de que o título sorteado seja obrigatoriamente um título
            comercializado, desde que atingidos os requisitos definidos nas
            condições gerais do plano.
          example: true
        ruleDescription:
          type: string
          description: >-
            Campo aberto para descrição a ser feita por cada participante das
            regras dos sorteios do produto.
          maxLength: 200
          example: Sorteio às quartas-feiras
        minimumContemplationProbability:
          type: number
          description: >-
            Número representativo da probabilidade mínima de contemplação nos
            sorteios, em porcentagem (%).
          maxLength: 8
          example: 0.000001
    CapitalizationTitleAdditionals:
      type: object
      required:
        - additionalDetails
      properties:
        additionalDetails:
          type: string
          description: Campo aberto (possibilidade de incluir URL).
          maxLength: 1024
          example: 'https://example.com/openinsurance'
    CapitalizationTitleMinimumRequirements:
      type: object
      description: Requisitos mínimos.
      required:
        - minimumRequirementDetails
        - targetAudiences
      properties:
        minimumRequirementDetails:
          type: string
          description: >-
            Detalhamento do requisito mínimo para contratação - Campo aberto
            (possibilidade de incluir URL).
          maxLength: 1024
          example: 'https://ey.exemplo/capitalizacao/tradicional/PU/requisitos_min'
        targetAudiences:
          description: Público Alvo
          type: array
          items:
            type: string
            example: PESSOAL_NATURAL
            enum:
              - PESSOAL_NATURAL
              - PESSOA_JURIDICA
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
    ResponseError1:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
              - requestDateTime
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
              requestDateTime:
                description: >-
                  Data e hora da consulta, conforme especificação RFC-3339,
                  formato UTC.
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    ResponseHomeInsuranceList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - HomeInsuranceBrand
          properties:
            brand:
              $ref: '#/components/schemas/HomeInsuranceBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    HomeInsuranceBrand:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: >-
            Nome da marca reportada pelo participante do Open Insurance. O
            conceito a que se refere a marca é em essência uma promessa das
            sociedades sob ela em fornecer uma série específica de atributos,
            benefícios e serviços uniformes aos clientes.
          maxLength: 80
          example: EMPRESA A seguros
        company:
          $ref: '#/components/schemas/HomeInsuranceCompany'
    HomeInsuranceCompany:
      type: array
      items:
        description: Informações referente a sociedade a qual a marca pertence.
        required:
          - name
          - cnpjNumber
        properties:
          name:
            type: string
            description: Nome da sociedade pertencente à marca.
            maxLength: 80
            example: ABCDE SEGUROS
          cnpjNumber:
            type: string
            description: CNPJ da sociedade pertencente à marca.
            maxLength: 14
            example: '12345678901234'
          products:
            $ref: '#/components/schemas/HomeInsuranceProduct'
    HomeInsuranceProduct:
      type: array
      description: Produtos de Seguro Residencial.
      items:
        type: object
        required:
          - name
          - code
          - coverages
          - propertyCharacteristics
          - propertyZipCode
          - protective
          - additional
          - assistanceServices
          - termsAndConditions
          - validity
          - customerService
          - premiumPayments
          - minimumRequirement
          - targetAudiences
        properties:
          name:
            type: string
            description: >-
              Nome comercial do produto, pelo qual é identificado nos canais de
              distribuição e atendimento da sociedade.
            maxLength: 80
            example: RESIDENCIAL XPTO
          code:
            type: string
            description: Código único a ser definido pela sociedade.
            maxLength: 80
            example: 0000-0
          coverages:
            $ref: '#/components/schemas/HomeInsuranceCoverages'
          propertyCharacteristics:
            $ref: '#/components/schemas/HomeInsurancePropertyCharacteristics'
          propertyZipCode:
            type: string
            description: Código de Endereçamento Postal do Imóvel
            maxLength: 8
            example: '1311000'
          protective:
            type: boolean
            description: Protecionais - Indicativo de exigência de itens protecionais.
            example: true
          additional:
            type: array
            items:
              type: string
              description: Adicionais do Produto.
              example: SORTEIO_GRATUITO
              enum:
                - SORTEIO_GRATUITO
                - CLUBE_BENEFICIOS
                - CASHBACK
                - DESCONTOS
                - OUTROS
          additionalOthers:
            type: string
            description: >-
              Campo aberto para descrição de cada participante ao selecionar o
              domínio ‘Outros’ no campo acima ‘Adicionais’.
            maxLength: 100
          assistanceServices:
            $ref: '#/components/schemas/HomeInsuranceAssistanceServices'
          termsAndConditions:
            $ref: '#/components/schemas/HomeInsuranceTermsAndConditions'
          validity:
            $ref: '#/components/schemas/HomeInsuranceValidity'
          customerServices:
            type: array
            description: Informações de pagamento de prêmio.
            items:
              type: string
              example: LIVRE_ESCOLHA
              enum:
                - REDE_REFERENCIADA
                - LIVRE_ESCOLHA
                - REDE_REFERENCIADA_LIVRE_ESCOLHA
          premiumRates:
            type: array
            description: >-
              Distribuição de frequência relativa aos valores referentes às
              taxas cobradas.
            items:
              type: string
          premiumPayments:
            $ref: '#/components/schemas/HomeInsurancePremiumPayment'
          minimumRequirements:
            type: array
            items:
              $ref: '#/components/schemas/HomeInsuranceMinimumRequirements'
          targetAudiences:
            type: array
            items:
              type: string
              description: Público a quem se destina o produto
              example: PESSOA_NATURAL
              enum:
                - PESSOA_NATURAL
                - PESSOA_JURIDICA
                - AMBAS
    HomeInsuranceMinimumRequirements:
      type: object
      description: Produtos de Seguro Residencial.
      required:
        - contractingMinRequirement
        - contractingType
      properties:
        contractingType:
          type: string
          description: Tipo de contratação.
          enum:
            - COLETIVO
            - INDIVIDUAL
            - AMBAS
        contractingMinRequirement:
          type: string
          description: >-
            Campo aberto contendo todos os requisitos mínimos para contratação
            (possibilidade de incluir URL).
          maxLength: 1024
          example: 'https://openinsurance.com.br/aaa'
    HomeInsuranceCoverageAttributes:
      type: object
      description: Informações de cobertura do Seguro Residencial.
      required:
        - minLMI
        - maxLMI
        - minDeductibleAmount
        - insuredMandatoryParticipationPercentage
      properties:
        minLMI:
          $ref: '#/components/schemas/HomeInsuranceCovaregeAttibutesDetails'
        maxLMI:
          $ref: '#/components/schemas/HomeInsuranceCovaregeAttibutesDetails'
        minDeductibleAmount:
          $ref: '#/components/schemas/HomeInsuranceCovaregeAttibutesDetails'
        insuredMandatoryParticipationPercentage:
          type: number
          description: >-
            Listagem percentual de franquia e/ou percentual de participação
            obrigatória do segurado estabelecida pela sociedade para cada tipo
            de cobertura de produto.
          maxLength: 9
    HomeInsuranceCovaregeAttibutesDetailsUnit:
      type: object
      required:
        - code
        - description
      properties:
        code:
          type: string
          example: R$
        description:
          type: string
          example: REAL
    HomeInsuranceCovaregeAttibutesDetails:
      type: object
      required:
        - amount
        - unit
      properties:
        amount:
          type: number
        unit:
          $ref: '#/components/schemas/HomeInsuranceCovaregeAttibutesDetailsUnit'
    HomeInsuranceTermsAndConditions:
      type: array
      description: Informações dos termos e condições conforme número do processo SUSEP.
      items:
        type: object
        required:
          - susepProcessNumber
          - definition
        properties:
          susepProcessNumber:
            type: string
            description: Número do processo SUSEP.
            maxLength: 20
            example: XXXXX.XXXXXX/XXXX-XX
          definition:
            type: string
            description: Campo aberto (possibilidade de incluir uma url).
            maxLength: 1024
            example: 'https://openinsurance.com.br/aaa'
    HomeInsuranceValidity:
      type: array
      description: Vigência
      items:
        type: object
        required:
          - term
        properties:
          term:
            type: string
            description: >-
              Prazo de vigência do seguro contratado Intervalo contínuo de tempo
              durante o qual está em vigor o contrato de seguro. (RESOLUÇÃO CNSP
              Nº 341/2016).
            example: ANUAL
            enum:
              - ANUAL
              - ANUAL_INTERMITENTE
              - PLURIANUAL
              - PLURIANUAL_INTERMITENTE
              - MENSAL
              - MENSAL_INTERMITENTE
              - DIARIO
              - DIARIO_INTERMITENTE
              - OUTROS
          termOthers:
            type: string
            description: >-
              Campo livre para descrição por cada participante ao selecionar o
              domínio “Outros” no campo Prazo (acima).
            maxLength: 100
    HomeInsurancePremiumPayment:
      type: array
      description: Informações de pagamento de prêmio.
      items:
        type: object
        required:
          - paymentMethod
          - paymentType
        properties:
          paymentMethod:
            type: string
            description: Meio de pagamento escolhido pelo segurado.
            example: CARTAO_CREDITO
            enum:
              - CARTAO_CREDITO
              - CARTAO_DEBITO
              - DEBITO_CONTA_CORRENTE
              - DEBITO_CONTA_POUPANCA
              - BOLETO_BANCARIO
              - PIX
              - CONSIGINACAO_FOLHA_PAGAMENTO
              - PONTOS_PROGRAMAS_BENEFICIO
              - OUTROS
          paymentMethodDetail:
            type: string
            description: >-
              Campo aberto para detalhamento do campo ‘Outros’ por cada
              participante.
            maxLength: 100
          paymentType:
            type: string
            description: Forma de pagamento
            example: PAGAMENTO_UNICO
            enum:
              - PAGAMENTO_UNICO
              - PARCELADO
              - AMBOS
    HomeInsuranceAssistanceServices:
      type: array
      description: >-
        Agrupamento dos serviços de assistências disponíveis vinculado ao
        produto.
      items:
        type: object
        required:
          - assistanceServicesPackage
          - complementaryAssistanceServicesDetail
          - chargeTypeSignaling
        properties:
          assistanceServicesPackage:
            type: string
            description: Pacotes de Assistência.
            example: ATE_10_SERVICOS
            enum:
              - ATE_10_SERVICOS
              - ATE_20_SERVICOS
              - ACIMA_20_SERVICOS
              - CUSTOMIZAVEL
          complementaryAssistanceServicesDetail:
            type: string
            description: >-
              Campo livre para descrição dos serviços ofertados por cada
              sociedade participante.
            maxLength: 1000
            example: reboque pane seca
          chargeTypeSignaling:
            type: string
            description: >-
              Sinalização em campo exclusivo se o pacote de Assistência é
              gratuita ou contratada/paga.
            example: GRATUITA
            enum:
              - GRATUITA
              - PAGO
    HomeInsuranceCoverages:
      type: array
      description: Listagem de coberturas incluídas no produto.
      items:
        type: object
        required:
          - coverageType
          - coverageDetail
          - coveragePermissionSeparteAquisition
          - coverageAttributes
        properties:
          coverageType:
            type: string
            enum:
              - IMOVEL_BASICA
              - IMOVEL_AMPLA
              - DANOS_ELETRICOS
              - DANOS_POR_AGUA
              - ALAGAMENTO
              - RESPONSABILIDADE_CIVIL_FAMILIAR
              - RESPONSABILIDADE_CIVIL_DANOS_MORAIS
              - ROUBO_SUBTRACAO_BENS
              - ROUBO_SUBTRACAO_BENS_FORA_LOCAL_SEGURADO
              - TACOS_GOLFE_HOLE_ONE
              - PEQUENAS_REFORMAS_OBRAS
              - GREVES_TUMULTOS_LOCKOUT
              - MICROEMPREENDEDOR
              - ESCRITORIO_RESIDENCIA
              - DANOS_EQUIPAMENTOS_ELETRONICOS
              - QUEBRA_VIDROS
              - IMPACTO_VEICULOS
              - VENDAVAL
              - PERDA_PAGAMENTO_ALUGUEL
              - BICICLETA
              - RESPONSABILIDADE_CIVIL_BICICLETA
              - RC_EMPREGADOR
              - DESMORONAMENTO
              - DESPESAS_EXTRAORDINARIAS
              - JOIAS_OBRAS_ARTE
              - TERREMOTO
              - IMPACTO_AERONAVES
              - PAISAGISMO
              - INCENDIO
              - QUEDA_RAIO
              - EXPLOSAO
              - OUTRAS
            description: Nome do tipo da cobertura.
            maxLength: 1000
            example: ESCRITORIO_RESIDENCIA
          coverageDetail:
            type: string
            description: >-
              Campo aberto para detalhamento por coberturas possíveis dos
              produtos a ser feito por cada participante.
            maxLength: 1000
            example: Cobertura especial para escritório residenciais
          coveragePermissionSeparteAquisition:
            type: boolean
            description: >-
              Indicação se a cobertura permite contratação separada (por
              cobertura selecionada).
            example: false
          coverageAttributes:
            $ref: '#/components/schemas/HomeInsuranceCoverageAttributes'
    HomeInsurancePropertyCharacteristics:
      type: array
      description: Caracteristicas do imóvel.
      items:
        type: object
        required:
          - propertyType
          - propertyUsageType
          - propertyBuildType
          - destinationInsuredImportance
        properties:
          propertyType:
            description: Tipo de imóvel.
            type: string
            example: CASA
            enum:
              - CASA
              - APARTAMENTO
          propertyBuildType:
            type: string
            description: Descrição do tipo de construção da propriedade.
            example: ALVENARIA
            enum:
              - ALVENARIA
              - MADEIRA
              - METALICA
              - MISTA
          propertyUsageType:
            type: string
            description: Descrição do tipo de uso da propriedade.
            example: HABITUAL
            enum:
              - HABITUAL
              - VERANEIO
              - DESOCUPADO
              - CASA_ESCRITORIO
              - ALUGUEL_TEMPORADA
          destinationInsuredImportance:
            type: string
            description: Destinação da Importância Segurada.
            example: PREDIO
            enum:
              - PREDIO
              - CONTEUDO
              - AMBOS
    ResponseError2:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
              - requestDateTime
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
              requestDateTime:
                description: >-
                  Data e hora da consulta, conforme especificação RFC-3339,
                  formato UTC.
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    ResponseAutoInsuranceList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - AutoInsuranceBrand
          properties:
            brand:
              $ref: '#/components/schemas/AutoInsuranceBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    AutoInsuranceBrand:
      type: object
      required:
        - name
        - company
      properties:
        name:
          type: string
          description: >-
            Nome da marca reportada pelo participante do Open Insurance. O
            conceito a que se refere a marca é em essência uma promessa das
            sociedades sob ela em fornecer uma série específica de atributos,
            benefícios e serviços uniformes aos clientes.
        company:
          $ref: '#/components/schemas/AutoInsuranceCompany'
    AutoInsuranceCompany:
      type: array
      items:
        description: Informações referente a sociedade a qual a marca pertence.
        required:
          - name
          - cnpjNumber
          - products
        properties:
          name:
            type: string
            description: Nome da sociedade pertencente à marca.
          cnpjNumber:
            type: string
            description: CNPJ da sociedade pertencente à marca.
          products:
            $ref: '#/components/schemas/AutoInsuranceProduct'
    AutoInsuranceProduct:
      type: array
      description: Produtos de Seguro de Automóveis.
      items:
        type: object
        required:
          - name
          - code
          - coverages
          - carParts
          - carModels
          - vehicleOvernightZipCode
          - additional
          - assistanceServices
          - termsAndConditions
          - terms
          - customerService
          - premiumPayment
          - minimumRequirements
          - targetAudiences
        properties:
          name:
            type: string
            description: >-
              Nome comercial do produto, pelo qual é identificado nos canais de
              distribuição e atendimento da sociedade.
          code:
            type: string
            description: Código único a ser definido pela sociedade.
          coverages:
            $ref: '#/components/schemas/AutoInsuranceCoverage'
          carParts:
            $ref: '#/components/schemas/AutoInsuranceCarPart'
          carModels:
            $ref: '#/components/schemas/AutoInsuranceCarModel'
          vehicleOvernightZipCode:
            type: string
            description: Área de comercialização do seguro do automóvel.
            maxLength: 8
            example: '1311000'
          additional:
            type: array
            items:
              type: string
              description: Adicionais
              example: SORTEIO_GRATUITO
              enum:
                - SORTEIO_GRATUITO
                - CLUBE_BENEFICIOS
                - CASHBACK
                - DESCONTOS
                - OUTROS
          additionalOthers:
            type: string
            description: >-
              Campo aberto para descrição de cada participante ao selecionar o
              domínio ‘Outros’ no campo acima ‘Adicionais’
          assistanceServices:
            type: array
            items:
              $ref: '#/components/schemas/AutoInsuranceAssistanceServices'
          termsAndConditions:
            $ref: '#/components/schemas/AutoInsuranceTermsAndConditions'
          terms:
            type: array
            description: Prazo.
            items:
              type: string
              example: ANUAL
              enum:
                - ANUAL
                - ANUAL_INTERMITENTE
                - PLURIANUAL
                - PLURIANUAL_INTERMITENTE
                - SEMESTRAL
                - SEMESTRAL_INTERMITENTE
                - MENSAL
                - MENSAL_INTERMITENTE
                - DIARIO
                - DIARIO_INTERMITENTE
                - OUTROS
          customerService:
            type: array
            description: Rede de atendimento do seguro contratado.
            items:
              type: string
              example: REDE_REFERENCIADA
              enum:
                - REDE_REFERENCIADA
                - LIVRE_ESCOLHA
                - REDE_REFERENCIADA_LIVRE_ESCOLHA
          premiumPayment:
            $ref: '#/components/schemas/AutoInsurancePremiumPayment'
          minimumRequirements:
            $ref: '#/components/schemas/AutoInsuranceMinimumRequirements'
          targetAudiences:
            type: array
            description: Público-alvo.
            items:
              type: string
              maxLength: 30
              example: PESSOA_NATURAL
              enum:
                - PESSOA_NATURAL
                - PESSOA_JURIDICA
                - AMBAS
    AutoInsuranceCoverage:
      type: array
      description: >-
        Listagem de coberturas incluídas no produto que deve observar a relação
        discriminada de coberturas, conforme Tabela II.5 do Anexo II
      items:
        type: object
        required:
          - coverage
          - coverageDetail
          - coverageAttribute
        properties:
          coverage:
            type: string
            description: Conjunto de riscos elencados na apólice.
            example: VIDROS
            enum:
              - CASCO_COMPREENSIVA_COLISAO_INCENDIO_ROUBO_FURTO
              - CASCO_INCENDIO_ROUBO_FURTO
              - CASCO_ROUBO_FURTO
              - CASCO_INCENDIO
              - CASCO_ALAGAMENTO
              - CASCO_COLISAO_INDENIZACAO_PARCIAL
              - CASCO_COLISAO_INDENIZACAO_INTEGRAL
              - RESPONSABILIDADE_CIVIL_FACULTATIVA_VEICULOS_RCFV
              - RESPONSABILIDADE_CIVIL_FACULTATIVA_CONDUTOR_RCFC
              - ACIDENTE_PESSOAIS_PASSAGEIROS_VEICULO
              - ACIDENTE_PESSOAIS_PASSAGEIROS_CONDUTOR
              - VIDROS
              - DIARIA_INDISPONIBILIDADE
              - LFR_LANTERNAS_FAROIS_RETROVISORES
              - ACESSORIOS_EQUIPAMENTOS
              - CARRO_RESERVA
              - RESPONSABILIDADE_CIVIL_CARTA_VERDE
              - VOUCHER_MOBILIDADE
              - DESPESAS_EXTRAORDINARIAS
              - PEQUENOS_REPAROS
              - GARANTIA_MECANICA
              - OUTRAS
          coverageDetail:
            type: string
            description: >-
              Campo aberto para detalhamento de riscos possíveis dos produtos a
              ser feito para cada participante.
            maxLength: 1000
            example: Roubo total
          coveragePermissionSeparteAcquisition:
            type: boolean
            description: >-
              Indicação se a cobertura permite contratação separada (por
              cobertura selecionada).
            example: true
          coverageAttributes:
            $ref: '#/components/schemas/AutoInsuranceCoverageAttributes'
    AutoInsuranceCovaregeAttibutesDetailsUnit:
      description: >-
        Listagem percentual de franquia e/ou percentual de participação
        obrigatória do segurado estabelecida pela sociedade para cada tipo de
        cobertura de produto.
      type: object
      required:
        - code
        - description
      properties:
        code:
          type: string
        description:
          type: string
    AutoInsuranceCovaregeAttibutesDetails:
      type: object
      required:
        - amount
        - unit
      properties:
        amount:
          type: number
        unit:
          $ref: '#/components/schemas/AutoInsuranceCovaregeAttibutesDetailsUnit'
    AutoInsuranceContractBase:
      type: array
      description: Base de contratação.
      items:
        type: object
        required:
          - contractBaseType
        properties:
          contractBaseType:
            type: string
            description: Incidência ao capital segurado da cobertura de casco.
            example: VALOR_DETERMINADO
            enum:
              - VALOR_DETERMINADO
              - VALOR_MERCADO
              - AMBOS
          contractBaseMinValue:
            $ref: '#/components/schemas/AutoInsuranceCovaregeAttibutesDetails'
          contractBaseMaxValue:
            $ref: '#/components/schemas/AutoInsuranceCovaregeAttibutesDetails'
    AutoInsuranceCoverageAttributes:
      type: object
      description: Atributos da cobertura.
      required:
        - minLMI
        - maxLMI
        - contractBase
        - newCarMaximumCalculatingPeriod
        - fullIndemnityPercentage
        - deductibleType
        - fullIndemnityDeductible
        - deductiblePaymentByCoverage
        - deductiblePercentage
        - mandatoryParticipation
        - geographicScopeCoverage
[...]
