---
title: Open Insurance Brasil

search: true

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - javascript

code_clipboard: true

includes:
- introduction
- glossary
- security
- common_apis
- canais_atendimento
- api_products
- participant
- faq

toc_footers:
- <a href='https://www.susep.gov.br'>Superintendência de <br/>Seguros Privados - Susep</a>
---
